.carouselSettings {
  height: 30%;
  width: 100%;
}
.bottombar {
  background: #4bbcf4;
  color: #f66473;
}
a {
  font-family: 'Josefin Slab', serif;

}
p {
  font-family: 'Josefin Slab', serif;
}
h1 {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}
body {
  background-color: #cccccc;
}
#nav{
  background-color: #4BBCF4;
  color: white;
}
#searchbar{
  width: 90%;
}
.btn-outline{
  color: white;
  background-color: rgb(255, 224, 211);
}
.btn-outline:hover{
  color: white;
  background-color: rgb(255, 212, 195);
}
#logostuff{
  color: white;
}
#sbar{
  width: 70%!important;
}
footer{
  background-color: #3b9ac9;
  color: white;
}
.footerlink{
  color: rgb(255,212,195);
}
